<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Homepage</title>
</head>
<body>
    <h1>Welcome to the Website Homepage</h1>
    <a href="{% url 'daily15Puzzle:index' %}">
        <button>Go to Daily 15 Puzzle</button>
    </a>
    <br>
    <br>
    <a href="{% url 'stockPredictAI:index' %}">
        <button>Go to StockPredictAI app</button>
    </a>
    <br>
    <br>
    <a href="http://localhost:3001/">
        <button>Go to Daily Ranked WORDLE</button>
    </a>
    <br>
    <br>
    <a href="http://localhost:3000/">
        <button>Go to To-Do app</button>
    </a>
</body>
</html>
